.fondo {
    background-color: blueviolet;
}

.btn.fondo:hover {
  background-color: blueviolet;
  transform: scale(1.05);
  box-shadow: 2px 5px 10px rgba(138, 43, 226, 0.9);
}

.img-logo {
    max-width: 3rem;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    background-color: white;
}


/* OffCanvas */
/* Estilo inicial para los submenús */
.nav.flex-column {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
  }
  
  .nav.flex-column.active {
    max-height: 500px; /* Altura máxima deseada */
  }